@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800|Rubik:400,500,700&display=swap');
body
 {
   overflow-x:hidden;
 }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.navbar-header{
    border:none !important;
}
.navbar-collapse
{
  border:none !important;
}
.navbar-toggle
{
  border:none !important;
  background-color:transparent;
}
 .navbar
    {
    	background-color:#ffffff !important;
    	border:none !important;
    	border-radius:0px;
        z-index:1;
    	min-height:60px !important;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: transparent !important;
}
    .container3
{
   margin-left:8%;
   margin-right:8%;
    padding:10px;
    
}
    .navbar-left
    {
        float:left;
    }
 .navbar-right
    {
        float:right;
    }
    .navbar-nav li a
    {
        margin:10px 10px;
        font-size:16px;
        margin-top:10px;
        color:#000 !important;
        font-weight:500;
        letter-spacing:0.8px;
        line-height: 20px;
         font-family: 'Poppins', sans-serif;
    }
     .navbar-nav li a:hover
    {
        color:#ffffff;
    }
.navbar-default .navbar-toggle {
    border:none !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000 !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #000000!important;
    background-color: transparent !important;
}
.dropdown-menu
{
   transition: transform .3s,width .3s,height .3s,-webkit-transform .3s;
    width:100%;
    min-width:max-content !important;
    padding:10px;
    box-shadow: 0 0 50px rgba(0,0,0,.10);
}
.dropdown-menu>li>a {
    display: block;
       padding: 10px 20px !important;
    clear: both;
    font-size:16px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
 z-index: 300;
    left: -10%;
    top: 70px;
    margin-left:60px;
    border:none;
    opacity: 1;
    font-size:16px;
    -ms-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
    max-height: none;
    overflow: visible;
}
.dropdown-menu:before {
     content: '';
    position: absolute;
    width: 14px;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #fff;
    top: -14px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dropdown-menu:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #fff;
    top: -14px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.righter span
{
    margin-top:-10px !important;
    color:#ffffff !important;
    background-color:#01A1DD;
    padding:10px;
}
/*button*/
.button {
    background-color: #01A1DD;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
/*button*/


/*sections*/
 .main
    {
     padding:80px 20px;
      min-height:100vh;
    }
 .features
    {
     padding:50px 20px;
        background-color:#f4f4f4;
    }
.bcontent h1
{
    margin-top:60px;
   font-family: 'Poppins', sans-serif;
    font-size: 42px;
    letter-spacing: 0.4px;
    font-weight: 600;
    line-height: 80px !important;
}
.features h3
{
   font-family: 'Poppins', sans-serif;
    font-size: 22px;
    letter-spacing: 0.4px;
    font-weight: 600;
    text-align: center;
    line-height: 40px !important;
}
.bcontent h1 span
{
    color:#00acee;
}
.med
{
    max-width:80px;
}
.img
{
   max-width:500px;
}