/*website -- www.icrepair.in*/
/*author -- Saicharan Govindaraj*/
/*Version -- 1.0*/


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800|Rubik:400,500,700&display=swap');

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.navbar-header{
    border:none !important;
}
.navbar-collapse
{
  border:none !important;
}
.navbar-toggle
{
  border:none !important;
  background-color:transparent;
}
.navbar.scrolled {
  background-color: #ffffff !important;
    	border:none !important;
    	border-radius:0px;
        z-index:1;
    	min-height:60px !important;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 200ms linear;
}

 .navbar
    {
     background-color:#ffffff !important;
    	border:none !important;
    	border-radius:0px;
        z-index:1;
    	min-height:60px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: transparent !important;
}
.logo
{
    width:130px;margin-top:-10px;
}
    .container3
{
   margin-left:8%;
   margin-right:8%;
    padding:10px;
    
}
    .navbar-left
    {
        float:left;
    }
 .navbar-right
    {
        float:right;
    }
    .navbar-nav li a
    {
        margin:10px 10px;
        font-size:16px;
        margin-top:10px;
        color:#000 !important;
        font-weight:500;
        letter-spacing:0.8px;
        line-height: 20px;
         font-family: 'Poppins', sans-serif;
    }
     .navbar-nav>li>a:hover
    {
        color:#01A1DD !important;
    }
.navbar-default .navbar-toggle {
    border:none !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000 !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #000000!important;
    background-color: transparent !important;
}
.dropdown-menu
{
   transition: transform .3s,width .3s,height .3s,-webkit-transform .3s;
    width:100%;
    min-width:max-content !important;
    padding:10px;
    box-shadow: 0 0 50px rgba(0,0,0,.10);
}
.dropdown-menu>li>a {
    display: block;
       padding: 10px 20px !important;
    clear: both;
    font-size:16px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
 z-index: 300;
    left: -10%;
    top: 70px;
    margin-left:60px;
    border:none;
    opacity: 1;
    font-size:16px;
    -ms-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
    max-height: none;
    overflow: visible;
}
.dropdown-menu:before {
     content: '';
    position: absolute;
    width: 14px;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #fff;
    top: -14px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dropdown-menu:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #fff;
    top: -14px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.righter span
{
    margin-top:-10px !important;
    color:#ffffff !important;
    background-color:#01A1DD;
    padding:10px;
}
/*button*/
.button {
    background-color: #01A1DD;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
/*button*/


/*sections*/
 .main
    {
     padding:120px 20px 80px 20px;
      min-height:90vh;
    }
.services
{
  padding:60px 20px 60px 20px;
      min-height:100vh;  
    background-color:#01a1dd;
}
 .features
    {
        background-color:#f4f4f4;
    }
.testimonials
{
   padding:100px 20px;
    min-height:50px;
}
.bcontent h1
{
    margin-top:60px;
   font-family: 'Poppins', sans-serif;
    font-size: 42px;
    letter-spacing: 0.4px;
    font-weight: 600;
    line-height: 70px !important;
}
.features h3
{
   font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 0.4px;
    font-weight: 600;
    text-align: center;
    line-height: 40px !important;
}
.services h3
{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color:#ffffff;
    letter-spacing: 0.4px;
    font-weight: 800;
    line-height: 40px !important; 
}
.services p
{
    color:#171E30;
     font-family: 'Poppins', sans-serif;
    padding:5px;
    font-size: 18px;
    text-align: center;
    line-height: 24px; 
}
.bcontent h1 span
{
    color:#00acee;
}
.top
{
    margin-top:30px;
    margin-bottom:30px;
}
.topper
{
    margin-top:50px;
}
.border
{
    padding:10px;
}
.med
{
    max-width:60px;
    width:100%;
}
.img
{
   max-width:500px;
    width:100% !important;
}

.tag {
  background: #dadfe1;
  color: #2e3131;
  padding:5px 10px;
  font:13px;
    margin:10px 2px;
    line-height: 40px;
     font-family: 'Poppins', sans-serif;
  box-shadow: -1px 3px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
}
.pad
{
    padding:10px;
}

.servicecard {
 border:2px solid #f4f4f4;
  transition: 0.3s;
    padding:15px;
    background-color:#ffffff;
    cursor: pointer;
  width: 100%;
}
.servicecard:hover {
  box-shadow: 2px 16px 22px 0 rgba(0,0,0,0.8);
    transform: matrix3dscale(0.6);
    transition: 0.5s;
}

.testicard {
 border:1px solid #f4f4f4;
  transition: 0.3s;
    padding:15px;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  width: 100%;
}
.testicard h3
{
  font-family: 'Poppins', sans-serif;
    font-size: 28px;
    letter-spacing: 0.4px;
    font-weight: 800;
    text-align: center;
    line-height: 40px !important;   
}
.checked {
  color: orange;
}
/*carousel*/

#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -50px !important;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -50px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}

.item blockquote {
    border-left: none; 
    margin: 10px 20px;
}
.carousel-inner
{
   text-align: center;
     font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight:400;
    padding:0px 20px;
    line-height:40px !important;
}
/* carousel */




/*footer*/
.footer
{
    min-height:100px;
    padding:50px 10px;
    background-color:#000;
}
.footer h3
{
  text-align: center;
     font-family: 'Poppins', sans-serif;
    color:#f4f4f4;
    font-size:20px;
    font-weight:800;  
}
/*footer*/




/*mediacss*/
@media screen and (max-width: 768px) {
   .navbar-nav li a
    {
            margin: 10px 5px !important;
    font-size: 13px !important;
    margin-top: 10px;
    color: #000 !important;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    } 
    .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 5px !important;
}
    .bcontent h1 {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    letter-spacing: 0.4px;
    font-weight: 600;
    line-height: 50px !important;
}
    .services p {
    color: #171E30;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}
    .features h3
{
   font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: 0.4px;
    font-weight: 600;
    text-align: center;
    line-height: 40px !important;
}
.med
{
    max-width:60px;
    width:100%;
}
}

@media screen and (max-width: 425px) {
   .bcontent h1
{
    margin-top:10px;
   font-family: 'Poppins', sans-serif;
    font-size: 25px;
    letter-spacing: 0.4px;
    font-weight: 500;
    line-height: 45px !important;
} 
    .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}.carousel-inner
{
   text-align: center;
     font-family: 'Poppins', sans-serif;
    font-size:14px;
    font-weight:400;
    padding:0px 5px;
    line-height:40px !important;
}
    .testicard 
    {
        border:none !important;
  transition: 0.3s;
    padding:5px;
    cursor: pointer;
        box-shadow: none;
  width: 100%;
}
    .item blockquote {
    border-left: none;
     margin: 5px !important; 
}
    .services p {
    color: #171E30;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
}
    .checked {
  color: orange;
}
    .med {
    max-width: 40px;
    width: 100%;
}
    .features h3
{
   display: none;
}
}